---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

#header {
    background: #f9f7f3;
    box-shadow:0 2px 2px -2px rgba(0,0,0,.15);
}

 @media (min-width:768px) {
     .jumbotron.forheader {
     	 margin-bottom: 0px;
         text-align:center;
         background-image: url(../images/jumbotron_header.jpg);
         background-size:cover;
    }
}
.jumbotron.forheader { 
     	 margin-bottom: 0px;
		 text-align:center;
         background-image: url(../images/jumbotron_header.jpg);
         background-size:cover;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
